.cs-title {
	font-size: 48px;
	font-weight: 900;
	line-height: 1.2em;
	text-align: inherit;
	max-width: 43.75rem;
	margin: 0 0 1rem 0;
	position: relative;
}

.cs-text {
	line-height: 1.5em;
	text-align: inherit;
	width: 100%;
	max-width: 40.625rem;
	margin: 0;
}

.cs-topper {
	font-size: clamp(0.8125rem, 1.6vw, 1rem);
	line-height: 1.2em;
	text-transform: uppercase;
	text-align: inherit;
	letter-spacing: 0.1em;
	font-weight: 700;
	color: #ff422e;
	margin-bottom: 0.25rem;
	display: block;
}

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#faq-1108 {
		padding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
		position: relative;
	}
	#faq-1108 .cs-container {
		width: 100%;
		/* changes to 1280px at desktop */
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		/* 32px - 48px */
		gap: clamp(2rem, 6vw, 3rem);
	}
	#faq-1108 .cs-content {
		/* set text align to left if content needs to be left aligned */
		text-align: center;
		width: 100%;
		display: flex;
		flex-direction: column;
		/* centers content horizontally, set to flex-start to left align */
		align-items: center;
	}

	#faq-1108 .cs-title {
		/* 32px - 48px */
		margin: 0 0 clamp(2rem, 5vw, 3rem);
	}
	#faq-1108 .cs-picture {
		width: 100%;
		/* 360px - 400px */
		height: clamp(22.5rem, 54vw, 25rem);
		display: block;
		position: relative;
	}
	#faq-1108 .cs-picture img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	#faq-1108 .cs-faq-group {
		width: 100%;
		max-width: 40.625rem;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 0.75rem;
	}
	#faq-1108 .cs-faq-item {
		list-style: none;
		width: 100%;
		/* clips all corners of the button that overlap the rounded border */
		overflow: hidden;
		transition: border-bottom 0.3s;
	}

	#faq-1108 .cs-faq-item.active .cs-button:before {
		transform: rotate(315deg);
	}
	#faq-1108 .cs-faq-item.active .cs-button:after {
		transform: rotate(-315deg);
	}
	#faq-1108 .cs-faq-item.active .cs-item-p {
		height: auto;
		/* 20px - 24px bottom */
		/* 16px - 24px left & right */
		padding: 0 clamp(1rem, 2vw, 1.5rem) clamp(1.25rem, 1.3vw, 1.5rem);
		opacity: 1;
	}
	#faq-1108 .cs-button {
		/* 16px - 20px */
		font-size: clamp(1rem, 2.5vw, 1.25rem);
		line-height: 1.2em;
		text-align: left;
		font-weight: bold;
		/* 20px - 24px */
		padding: clamp(1.25rem, 2vw, 1.5rem);
		border: none;
		color: var(--headerColor);
		display: block;
		width: 100%;
		position: relative;
		transition:
			background-color 0.3s,
			color 0.3s;
	}
	#faq-1108 .cs-button:hover {
		cursor: pointer;
	}
	#faq-1108 .cs-button:before {
		/* left line */
		content: "";
		width: 0.5rem;
		height: 0.125rem;
		opacity: 1;
		border-radius: 50%;
		position: absolute;
		display: block;
		top: 50%;
		right: 1.5rem;
		transform: rotate(45deg);
		/* animate the transform from the left side of the x axis, and the center of the y */
		transform-origin: left center;
		transition: transform 0.5s;
	}
	#faq-1108 .cs-button:after {
		/* right line */
		content: "";
		width: 0.5rem;
		height: 0.125rem;
		opacity: 1;
		border-radius: 50%;
		position: absolute;
		display: block;
		top: 50%;
		right: 1.3125rem;
		transform: rotate(-45deg);
		/* animate the transform from the right side of the x axis, and the center of the y */
		transform-origin: right center;
		transition: transform 0.5s;
	}
	#faq-1108 .cs-button-text {
		width: 80%;
		display: block;
	}
	#faq-1108 .cs-item-p {
		/* 14px - 16px */
		font-size: clamp(0.875rem, 1.5vw, 1rem);
		line-height: 1.5em;
		width: 90%;
		height: 0;
		margin: 0;
		/* 16px - 24px */
		padding: 0 clamp(1rem, 2vw, 1.5rem);
		opacity: 0;
		/* clips the text so it doesn't show up */
		overflow: hidden;
		transition:
			opacity 0.3s,
			padding-bottom 0.3s;
	}
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#faq-1108 .cs-container {
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
	}
	#faq-1108 .cs-content {
		width: 40%;
		text-align: left;
		align-items: flex-start;
		/* prevents flexbox from squishing it */
		flex: none;
	}
}
