@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply font-barlow my-4 text-center text-5xl font-medium uppercase text-neutral-50 md:text-[61px];
	}
	h2 {
		@apply font-barlow my-3 text-4xl font-medium uppercase text-neutral-50 md:text-[49px];
	}
	h3 {
		@apply font-barlow my-2 text-3xl font-medium uppercase text-neutral-50 md:text-[31px];
	}
	h4 {
		@apply font-barlow my-2 text-2xl font-medium uppercase text-neutral-50;
	}
	h5 {
		@apply font-barlow my-2 text-xl font-medium uppercase text-neutral-50;
	}
	h6 {
		@apply font-barlow my-2 text-base font-medium uppercase text-neutral-50;
	}
	p {
		@apply font-barlow text-sm md:text-base lg:text-2xl;
	}
	hr {
		@apply my-4 border-neutral-500;
	}
	ul,
	ol,
	li {
		@apply font-barlow;
	}
}
